<div class="droplist has-scrollbar">
  <div class="text-upper-12 mb-2">КМ+</div>
  <div class="text-reg-12 color-secondary mb-8">Активно: 22 из 25</div>

  <div class="mb-8">От</div>
  
  <div class="flex gx-8 mb-8">
    <div class="flex-grow">
      <input class="text-center" type="text" value="101,700">
    </div>
    
    <div class="flex-grow">
      <input class="text-center" type="text" value="102,564">
    </div>
  </div>

  <div class="flex gx-8">
    <div class="flex-grow">
      <button type="button" class="btn btn_block btn_primary">Применить</button>
    </div>
    
    <div class="flex-grow">
      <button type="button" class="btn btn_block btn_secondary">Сбросить</button>
    </div>
  </div>
</div>