<div class="droplist">
  <div class="text-upper-12 mb-2">На развязке</div>
  <div class="text-reg-12 color-secondary mb-8">Активно: 25 из 25</div>

  <div class="mb-8">От</div>
  
  <div class="flex gx-8 mb-8">
    <div class="flex-grow">
      <input class="text-center" type="text" value="1,05">
    </div>
    
    <div class="flex-grow">
      <input class="text-center" type="text" value="2,05">
    </div>
  </div>
  
  <div class="flex gx-8">
    <div class="flex-grow">
      <button type="button" class="btn btn_block btn_primary" disabled>Применить</button>
    </div>
    
    <div class="flex-grow">
      <button type="button" class="btn btn_block btn_secondary" disabled>Сбросить</button>
    </div>
  </div>
</div>