<div class="droplist">
  <div class="droplist__header">
    <div class="droplist__title">ОТОБРАЖАТЬ СТОЛБЦЫ</div>
  </div>

  <div class="search-field">
    <svg class="search-field__icon" width="20" height="20"><use xlink:href="#icon-search"></use></svg>
    <input type="text" name="search" placeholder="Поиск">
  </div>
  
  <div class="form-check">
    <label>
      <input type="checkbox" checked>
      <span>КМ</span>
    </label>
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" checked>
      <span>КМ+</span>
    </label>
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" checked>
      <span>Дорога</span>
    </label>
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" checked>
      <span>На развязке</span>
    </label>
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" checked>
      <span>Обратное 1</span>
    </label>
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" checked>
      <span>Обратное 2</span>
    </label>
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" checked>
      <span>Прямое 1</span>
    </label>
  </div>
  <div class="form-check">
    <label>
      <input type="checkbox" checked>
      <span>Прямое 2</span>
    </label>
  </div>

  <div class="flex gx-8">
    <div class="flex-grow">
      <button type="button" class="btn btn_block btn_primary">Применить</button>
    </div>
    <div class="flex-grow">
      <button type="button" class="btn btn_block" disabled>Сбросить</button>
    </div>
  </div>
</div>