<div class="droplist has-scrollbar">
  <div class="text-upper-12 mb-2">Дорога</div>
  
  <div class="form-check mb-8">
    <label>
      <input type="checkbox">
      <span>М-3 “Украина”</span>
    </label>
  </div>
  <div class="form-check mb-8">
    <label>
      <input type="checkbox">
      <span>М-5 «Урал»</span>
    </label>
  </div>
  <div class="form-check mb-8">
    <label>
      <input type="checkbox">
      <span>М-7 «Волга»</span>
    </label>
  </div>

  <div class="flex gx-8">
    <div class="flex-grow">
      <button type="button" class="btn btn_block btn_primary">Применить</button>
    </div>
    <div class="flex-grow">
      <button type="button" class="btn btn_block" disabled>Сбросить</button>
    </div>
  </div>
</div>