<div class="aside__header">
  <a href="2.1.html" class="aside__back">
    <svg class="icon" width="20" height="20"><use xlink:href="#icon-arrow-back"></use></svg>
    <span>Дорожные условия М-3 Украина</span>
  </a>
</div>

<div class="aside__content has-scrollbar">
  <div class="aside-nav">
    <a href="#" class="aside-item is-active">
      <span class="aside-item__content">
        <span class="aside-item__title">Ровность покрытий</span>
        <span class="aside-item__text">
          <span class="color-accent-success">+10</span> за период
        </span>
      </span>
      <span class="aside-item__graph">
        <span class="radial-graph">
          <svg class="radial-graph__graph color-accent-success" fill="none" stroke-linecap="round" stroke-width="6" data-angle="299"><path /></svg>
          <span class="radial-graph__text">83</span>
        </span>
      </span>
    </a>

    <a href="#" class="aside-item">
      <span class="aside-item__content">
        <span class="aside-item__title">Сцепление с покрытием</span>
        <span class="aside-item__text">
          <span class="color-accent-warning">-10</span> за период
        </span>
      </span>
      <span class="aside-item__graph">
        <span class="radial-graph">
          <svg class="radial-graph__graph color-accent-warning" fill="none" stroke-linecap="round" stroke-width="6" data-angle="227"><path /></svg>
          <span class="radial-graph__text">63</span>
        </span>
      </span>
    </a>

    <a href="#" class="aside-item">
      <span class="aside-item__content">
        <span class="aside-item__title">Повреждения</span>
        <span class="aside-item__text">
          <span class="color-accent-danger">+10</span> за период
        </span>
      </span>
      <span class="aside-item__graph">
        <span class="radial-graph">
          <svg class="radial-graph__graph color-accent-danger" fill="none" stroke-linecap="round" stroke-width="6" data-angle="119"><path /></svg>
          <span class="radial-graph__text">33</span>
        </span>
      </span>
    </a>
  </div>
</div>