.aside {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background: var(--bg-panel-primary);
  display: flex;
  flex-direction: column;

  &__main,
  &__filter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--bg-panel-primary);
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: 8px;
    padding-bottom: 0;
    flex-shrink: 0;

    &-search {
      flex-grow: 1;
    }

    &-filter {
      flex-shrink: 0;

      &-btn {
        position: relative;

        &.is-highlight {
          &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 50%;
            margin: 5px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: 1px solid #fff;
            background-color: var(--accent-primary);
          }
        }
      }
    }
  }
  
  &__content {
    flex-grow: 1;
  }

  &__search {

  }

  &__back {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
    column-gap: 8px;
    padding: 8px;
    padding-right: 36px;
    color: var(--text-subhead);
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid var(--dividers-low-contrast);

    &:hover {
      color: var(--text-primary);
    }

    & > span {
      flex-grow: 1;
      text-align: center;
    }
  }

  &__filter {
    display: none;
    z-index: 1;

    &.is-open {
      display: flex;
    }
  }
}

.aside-nav {
  $this: &;

  --space: 4px;

  &_compact {
    --space: 2px;    
  }

  padding: var(--space) 0;

  &__header {
    padding-top: var(--space);
    padding-bottom: calc(2 * var(--space));
    margin-bottom: var(--space);
    border-bottom: 1px solid var(--dividers-low-contrast);
  }

  &__item {
    padding-top: var(--space);
    padding-bottom: var(--space);
    position: relative;

    &_subitem {
      padding-left: 12px;

      &:before {
        content: '';
        position: absolute;
        left: 4px;
        top: 0;
        bottom: 0;
        width: 2px;
        background: #fff;
      }

      &:first-child:before {
        top: calc(-1 * var(--space));
      }

      &:last-child:before {
        bottom: 50%;
      }

      &:after {
        content: '';
        position: absolute;
        left: 6px;
        width: 6px;
        height: 2px;
        top: 50%;
        margin-top: -2px;
        background: #fff;
      }
    }
  }

  &__group {
    &-header {

    }

    &-content {
      display: none;
    }

    &.is-open &-content {
      display: block;
    }
  }
}

.aside-item {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  column-gap: 8px;
  padding: 12px;
  background: #fff;
  border-radius: 4px;

  &.is-active {
    background: #90C3FA;

    .radial-graph {
      border-color: #B8D7FF;
    }
  }

  &__content {
    flex-grow: 1;
    min-width: 1px;
  }

  &__graph {
    flex-shrink: 0;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 40px;
    margin: -12px;
    margin-left: -4px;
    border-radius: 0 4px 4px 0;
    padding: 4px;

    &:hover {
      .icon {
        color: var(--accent-primary);
      }
    }
  }

  &__expand {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    width: 40px;
    margin: -12px;
    margin-right: -4px;
    border-radius: 0 4px 4px 0;
    padding: 4px;

    &:hover {
      .icon {
        color: var(--accent-primary);
      }
    }

    .icon {
      .aside-nav__group.is-open & {
        transform: rotate(90deg);
      }
    }
  }

  &__settings {
    flex-shrink: 0;
    position: relative;
    cursor: auto;

    &-btn {
      width: 30px;
      height: 30px;
      padding: 3px;
      margin: -3px;
      background: none;

      .icon {
        display: block;
        width: 100%;
        height: 100%;
      }

      &:hover,
      &.is-active,
      &.is-open {
        box-shadow: none;

        .icon {
          color: var(--accent-primary);
        }
      }
    }
  }
}

.aside__settings-droplist {
  position: fixed;
  z-index: 10;
  display: none;

  &_areas {
    width: 240px;
  }
  
  &.is-open {
    display: block;
  }
}

.filter-control {
  padding: 8px;
  border-bottom: 1px solid var(--dividers-low-contrast);
}