.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--text-subhead);
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  padding: 6px 16px;
  column-gap: 4px;
  border-radius: 4px;

  &:hover {
    box-shadow: var(--shadow-inset);
    
    .icon {
      color: var(--text-primary);
    }
  }

  &_secondary {
    background-color: var(--button-secondary-bg);
    color: var(--text-subhead);
  }

  &_primary {
    background-color: var(--accent-primary);
    color: #fff;

    .icon {
      color: inherit !important;
    }
  }

  &_danger {
    background-color: var(--accent-danger);
    color: #fff;

    .icon {
      color: inherit !important;
    }
  }

  &_success {
    background-color: var(--accent-success);
    color: #fff;

    .icon {
      color: inherit !important;
    }
  }

  &_smx {
    padding-left: 6px;
    padding-right: 6px;
  }

  &_0 {
    padding: 0;
  }

  &_block {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &[disabled],
  &.is-disabled {
    opacity: .4;
    cursor: default;
    cursor: not-allowed;
  }

  &.is-highlight {
    background: var(--accent-primary-12);
    color: var(--accent-primary);

    .icon {
      color: inherit;
    }
  }
}

.buttons {
  display: flex;
  background: var(--bg-containers-gray);
  border-radius: 4px;
  padding: 4px;
  
  .btn {
    flex-basis: 0;
    flex-grow: 1;
    font-weight: normal;
    padding: 2px 6px;

    &.is-active {
      background-color: var(--accent-primary-12);
      box-shadow: none;
    }
  }
}