.droplist {
	background: var(--bg-surface);
  border: 1px solid var(--dividers-low-contrast);
  box-shadow: var(--shadow);
  border-radius: 4px;
  padding: 8px;

  .map-object-btn {
    margin-left: -8px;
    margin-right: -8px;
    width: calc(100% + 16px);
  }
}