.switch {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	width: 50px;
	height: 28px;

	input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}

	&__content {
		width: 42px;
		height: 16px;
		background-color: var(--button-secondary-bg);
		border-radius: 100px;
		position: relative;
		transition: background-color 0.15s ease-in-out;

		&:after {
			content: '';
			position: absolute;
			left: -1px;
			top: 50%;
			margin-top: -10px;
			width: 20px;
			height: 20px;
			background: #fff;
			border-radius: 50%;
			box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
			transition: left 0.15s ease-in-out;
		}
	}

	input:checked ~ &__content {
		background-color: var(--accent-primary);

		&:after {
			left: calc(100% - 19px);
		}
	}
}

.switcher {
	display: flex;
	align-items: center;
	column-gap: 8px;
	cursor: pointer;
	height: 36px;
}

.radial-graph {
	width: 40px;
	height: 40px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 6px solid #EBEDF0;
	border-radius: 50%;

	&__graph {
		position: absolute;
		left: -6px;
		top: -6px;
		width: calc(100% + 12px);
		height: calc(100% + 12px);
		transform: rotate(-180deg);

		&.color-accent-success {
			stroke: var(--accent-success);
		}

		&.color-accent-warning {
			stroke: var(--accent-warning);
		}

		&.color-accent-danger {
			stroke: var(--accent-danger);
		}
	}

	&__text {
		text-align: center;
		font-weight: 600;
		position: relative;
	}
}
