.close-btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: none;
    background: none;
    padding: 0;
    width: 4rem;
    height: 4rem;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 2rem;
        border-bottom: 2px solid;
        margin: -1px 0 0 -1rem;
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);  
    }
}