@font-face {
    font-family: 'Segoe UI';
    src: url('../assets/fonts/SegoeUI/SegoeUI.woff2') format('woff2'),
    url('../assets/fonts/SegoeUI/SegoeUI.woff') format('woff');
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../assets/fonts/SegoeUI/SegoeUI-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff');
    font-display: swap;
    font-weight: bold;
}