.header {
  background: var(--bg-panel-primary);

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 16px 5px;
    border-bottom: 1px solid var(--dividers-low-contrast);
  }

  &__logo-wrapper {
    border-right: 1px solid var(--dividers-low-contrast);
  }

  &__logo {
    display: block;
    width: 32px;
    height: 32px;
  }

  &__title {
    font-weight: 600;
    color: var(--text-subhead);
  }

  .btn {
    font-weight: 600;
  }

  .buttons {
    .btn {
      font-weight: normal;
      min-width: 106px;
    }
  }
}