.header {
  background: var(--bg-panel-primary);

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 16px 5px;
    border-bottom: 1px solid var(--dividers-low-contrast);
  }

  &__logo-wrapper {
    border-right: 1px solid var(--dividers-low-contrast);
  }

  &__logo {
    display: block;
    width: 32px;
    height: 32px;
  }

  &__title {
    font-weight: 600;
    color: var(--text-subhead);
  }

  &__buttons.buttons {
    .btn {
      min-width: 106px;
    }
  }
}

.period-data-control {
  $this: &;
  position: relative;

  &__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 4px;
    z-index: 10;
    width: 400px;
    display: none;

    .droplist {
      max-height: calc(100vh - 100px);
    }
  }

  &.is-open &__dropdown {
    display: block;
  }
}