.map-wrapper {
  width: 100%;
  flex-grow: 1;
  min-height: 1px;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.map-control {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 3;

  &__group {
    background: var(--bg-surface);
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08);
    margin-bottom: 8px;
  }

  &__item {}

  &__btn {
    border: none;
    padding: 0;
    background: none;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      color: var(--icons-high-contrast);
    }

    &:hover {
      svg {
        color: var(--text-primary);
      }
    }
  }
}

.map-info {
  position: absolute;
  right: 8px;
  bottom: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  column-gap: 4px;

  &__coord {
    font-size: 12px;
    line-height: 16px;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: var(--bg-containers-gray);
  }

  &__scale {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 28px;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -1px 0 0 -33px;
      width: 66px;
      height: 2px;
      border-radius: 2px;
      background-color: var(--icons-high-contrast);
    }

    > span {
      padding: 2px 4px;
      border-radius: 2px;
      background: var(--bg-surface);
      position: relative;
    }
  }
}

.map-tooltip {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
  background-color: var(--bg-surface);
  border: 1px solid var(--dividers-low-contrast);
  width: 200px;
  margin-left: -100px;
  margin-bottom: 9px;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  font-size: 12px;
  line-height: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08);

  &.is-active {
    z-index: 5;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    margin-left: -8px;
    border-style: solid;
    border-width: 8px;
    border-bottom-width: 0;
    border-color: var(--bg-surface) transparent;
  }

  &:before {
    bottom: -9px;
    border-top-color: var(--dividers-low-contrast);
  }

  &__header {
    flex-shrink: 0;
    margin-bottom: 8px;
    padding: 4px 8px 4px 0;
    display: flex;
    align-items: center;

    &-icon {
      flex-shrink: 0;
      margin-right: 4px;

      .icon {
        width: 24px;
        height: 24px;
      }
    }

    &-content {
      flex-grow: 1;
      min-width: 1px;
    }

    &-title {
      margin-bottom: 2px;
    }

    &-text {
      font-weight: 600;
    }
  }

  &__footer {
    flex-shrink: 0;
    margin-top: 8px;

    .btn {
      padding-top: 2px;
      padding-bottom: 2px;
      font-weight: 600;
    }
  }

  &__content {
    flex-grow: 1;
    min-height: 1px;
  }

  &__item {
    border-top: 1px solid var(--dividers-low-contrast);
    padding-top: 2px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      color: var(--text-secondary);
      margin-bottom: 4px;
    }

    &-text {

    }
  }
}

.map-objects-tooltip {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 240px;
  max-height: 300px;
}

.map-pin-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -17px;
  z-index: 3;
  width: 34px;
  height: 46px;
  color: var(--icons-low-contrast);
  cursor: pointer;

  &__icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 5px auto 0;
    z-index: 1;
    width: 24px;
    height: 24px;
    color: #fff;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__pin {
    width: 100%;
    height: 100%;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.map-pin-circle {
  position: absolute;
  width: 34px;
  height: 34px;
  margin: -17px;
  color: var(--accent-primary);
  z-index: 3;
  cursor: pointer;

  &_lg {
    width: 60px;
    height: 60px;
    margin: -30px;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.map-widgets {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  &__target {
    position: absolute;
    left: 8px;
    bottom: 100%;
    margin-bottom: 8px;
    padding: 10px;
    background-color: var(--bg-surface);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08);

    &:hover {
      background-color: var(--bg-surface);
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08);
    }
  }

  &.is-open &__target {
    box-shadow: none;
    bottom: auto;
    top: 0;

    .icon {
      transform: rotate(180deg);
    }

    & > span {
      display: none;
    }
  }

  &__content {
    margin: 0 8px 8px 60px;
  }

  &:not(.is-open) &__content {
    display: none;
  }

  &__row {
    display: flex;
    margin: 0 -4px;
  }

  &__col {
    padding: 0 4px;

    &_data {
      flex: 0 0 auto;
      width: 308px;
    }

    &_graph {
      flex-grow: 1;
      min-width: 1px;
    }
  }
}

.data-widget {
  display: flex;
  flex-direction: column;
  height: 287px;
  background-color: var(--bg-surface);
  border-radius: 4px;

  &__header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px;
    border-bottom: 1px solid var(--dividers-low-contrast);
  }

  &__title {
    flex-grow: 1;
    min-width: 1px;
    font-weight: 600;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
    width: 28px;
    height: 28px;
    margin: -4px 0;

    &:hover .icon {
      color: var(--text-primary);
    }
  }

  &__content {
    flex-grow: 1;
    min-height: 1px;
    padding: 8px 16px;
  }

  &__footer {
    flex-shrink: 0;
    padding: 4px 12px;
    border-top: 1px solid var(--dividers-low-contrast);
    display: flex;

    .btn {
      flex-basis: 0;
      flex-grow: 1;
      width: auto;
      padding: 4px 0;

      &.is-active {
        background-color: var(--accent-primary-12);
        box-shadow: none;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
    margin-bottom: 8px;

    &-icon {
      flex-shrink: 0;
    }

    &-title {
      flex-grow: 1;
      min-width: 1px;
    }

    &-desc {
      display: flex;
      align-items: center;
      column-gap: 4px;
    }

    &-percent {
      font-size: 12px;
      font-weight: normal;
    }

    &-value {
      min-width: 1.6em;
      text-align: right;
    }
  }
}

.graph-widget {
  background-color: var(--bg-surface);
  padding: 8px;
  border-radius: 4px;

  &__header {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 8px;
  }

  &__buttons {
    display: flex;
    padding: 4px;
    background: var(--bg-containers-gray);
    border-radius: 4px;

    .btn {
      width: 28px;
      height: 28px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &.is-active {
        background-color: var(--accent-primary-12);
        box-shadow: none;
      }
    }
  }

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  &__chart {
    overflow: hidden;
    margin-bottom: -8px;
  }
}

.map-layers-control {
  $this: &;
  position: absolute;
  left: 50%;
  margin-left: -131px;
  top: 14px;
  z-index: 4;

  &__btn {
    padding: 10px;
    background-color: var(--bg-surface);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08);

    &:hover {
      background-color: var(--bg-surface);
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08);
    }
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 6px;
    z-index: 10;
    width: max-content;
    min-width: 100%;
    max-width: 300px;
    display: none;

    .droplist {
      max-height: calc(100vh - 160px);
    }
  }

  &.is-open &__dropdown {
    display: block;
  }
}