*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: var(--bg-surface);
  color: var(--text-primary);
  min-width: 1280px;
  min-height: 100vh;
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:active,
:focus:not(:focus-visible) {
  outline: none;
}

img {
  vertical-align: middle;
  border: none;
  max-width: 100%;
  height: auto;
}

b,
strong {
  font-weight: bold;
}

.text-upper-12 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.text-reg-12 {
  font-size: 12px;
  line-height: 16px;
}

.fw-regular {
  font-weight: 400 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.color-primary {
  color: var(--text-primary) !important;
}

.color-subhead {
  color: var(--text-subhead) !important;
}

.color-secondary {
  color: var(--text-secondary) !important;
}

.color-accent-primary {
  color: var(--accent-primary) !important;
}

.color-accent-danger {
  color: var(--accent-danger) !important;
}

.color-accent-success {
  color: var(--accent-success) !important;
}

.color-accent-warning {
  color: var(--accent-warning) !important;
}

.color-accent-active {
  color: var(--accent-active) !important;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
  min-width: 1px;
  flex-basis: 0;
}

.flex-shrink {
  flex-shrink: 0;
}

.flex-column {
  flex-direction: column;
}

.columns-2 {
  column-count: 2;
  column-gap: 8px;

  > * {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

.g-4 {
  gap: 4px !important;
}

.gx-4 {
  column-gap: 4px !important;
}

.gy-4 {
  row-gap: 4px !important;
}

.g-8 {
  gap: 8px !important;
}

.gx-8 {
  column-gap: 8px !important;
}

.gy-8 {
  row-gap: 8px !important;
}

.g-16 {
  gap: 16px !important;
}

.gx-16 {
  column-gap: 16px !important;
}

.gy-16 {
  row-gap: 16px !important;
}

.p-0,
.py-0,
.pt-0 {
  padding-top: 0 !important;
}

.p-0,
.py-0,
.pb-0 {
  padding-bottom: 0 !important;
}

.p-0,
.px-0,
.pl-0 {
  padding-left: 0 !important;
}

.p-0,
.px-0,
.pr-0 {
  padding-right: 0 !important;
}

.p-2,
.py-2,
.pt-2 {
  padding-top: 2px !important;
}

.p-2,
.py-2,
.pb-2 {
  padding-bottom: 2px !important;
}

.p-2,
.px-2,
.pl-2 {
  padding-left: 2px !important;
}

.p-2,
.px-2,
.pr-2 {
  padding-right: 2px !important;
}

.p-4,
.py-4,
.pt-4 {
  padding-top: 4px !important;
}

.p-4,
.py-4,
.pb-4 {
  padding-bottom: 4px !important;
}

.p-4,
.px-4,
.pl-4 {
  padding-left: 4px !important;
}

.p-4,
.px-4,
.pr-4 {
  padding-right: 4px !important;
}

.p-8,
.py-8,
.pt-8 {
  padding-top: 8px !important;
}

.p-8,
.py-8,
.pb-8 {
  padding-bottom: 8px !important;
}

.p-8,
.px-8,
.pl-8 {
  padding-left: 8px !important;
}

.p-8,
.px-8,
.pr-8 {
  padding-right: 8px !important;
}

.p-16,
.py-16,
.pt-16 {
  padding-top: 16px !important;
}

.p-16,
.py-16,
.pb-16 {
  padding-bottom: 16px !important;
}

.p-16,
.px-16,
.pl-16 {
  padding-left: 16px !important;
}

.p-16,
.px-16,
.pr-16 {
  padding-right: 16px !important;
}

.m-0,
.my-0,
.mt-0 {
  margin-top: 0 !important;
}

.m-0,
.my-0,
.mb-0 {
  margin-bottom: 0 !important;
}

.m-0,
.mx-0,
.ml-0 {
  margin-left: 0 !important;
}

.m-0,
.mx-0,
.mr-0 {
  margin-right: 0 !important;
}

.m-2,
.my-2,
.mt-2 {
  margin-top: 2px !important;
}

.m-2,
.my-2,
.mb-2 {
  margin-bottom: 2px !important;
}

.m-2,
.mx-2,
.ml-2 {
  margin-left: 2px !important;
}

.m-2,
.mx-2,
.mr-2 {
  margin-right: 2px !important;
}

.m-4,
.my-4,
.mt-4 {
  margin-top: 4px !important;
}

.m-4,
.my-4,
.mb-4 {
  margin-bottom: 4px !important;
}

.m-4,
.mx-4,
.ml-4 {
  margin-left: 4px !important;
}

.m-4,
.mx-4,
.mr-4 {
  margin-right: 4px !important;
}

.m-8,
.my-8,
.mt-8 {
  margin-top: 8px !important;
}

.m-8,
.my-8,
.mb-8 {
  margin-bottom: 8px !important;
}

.m-8,
.mx-8,
.ml-8 {
  margin-left: 8px !important;
}

.m-8,
.mx-8,
.mr-8 {
  margin-right: 8px !important;
}

.m-16,
.my-16,
.mt-16 {
  margin-top: 16px !important;
}

.m-16,
.my-16,
.mb-16 {
  margin-bottom: 16px !important;
}

.m-16,
.mx-16,
.ml-16 {
  margin-left: 16px !important;
}

.m-16,
.mx-16,
.mr-16 {
  margin-right: 16px !important;
}

.has-scrollbar,
.has-hidden-scrollbar {
  overflow: auto;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: rgba(0, 0, 0, .2) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent-primary-50);
    border-radius: 4px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
}

.has-scrollbar,
.has-hidden-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
  }
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}