*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: var(--bg-surface);
  color: var(--text-primary);
  min-width: 1280px;
  min-height: 100vh;
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:active,
:focus:not(:focus-visible) {
  outline: none;
}

img {
  vertical-align: middle;
  border: none;
  max-width: 100%;
  height: auto;
}

b,
strong {
  font-weight: bold;
}

.has-scrollbar {
  overflow: auto;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: rgba(0, 0, 0, .2) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent-primary-50);
    border-radius: 4px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
}