*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: #fff;
  color: var(--text-primary);
  min-width: 1280px;
  min-height: 100vh;
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:active,
:focus:not(:focus-visible) {
  outline: none;
}

img {
  vertical-align: middle;
  border: none;
  max-width: 100%;
  height: auto;
}

b,
strong {
  font-weight: bold;
}

.has-scrollbar {
  overflow: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: rgba(0, 0, 0, .2) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent-primary-2);
    border-radius: 4px;
  }
}

.svg-sprite {
  position: absolute;
  left: -9999px;
  top: -9999px;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  flex-shrink: 0;
  color: var(--icons-high-contrast);
}