:root {
	--accent-color:         #ff6600;
	--accent-hover-color:   #dd5800;
	--main-color:           #333333;
	--secondary-color:      #aaaaaa;
	--border-color:         #cccccc;
	--error-color:          #ff0000;
}