:root {
  --text-primary: #090E14;
  --text-subhead: #404652;
  --text-secondary: #9398A3;
  
  --bg-panel-primary: #F2F3F5;
  --bg-containers-gray: rgba(110, 116, 128, 0.08);

  --accent-primary: #2E93FE;
  --accent-primary-1: rgba(46, 147, 254, 0.12);
  --accent-primary-2: rgba(46, 147, 254, 0.5);
  --accent-danger: #D94141;
  --accent-success: #40A228;

  --icons-high-contrast: #6E7480;
  --icons-low-contrast: #B4B8BF;

  --dividers-low-contrast: rgba(0, 0, 0, 0.12);
  
  --button-secondary-bg: rgba(110, 116, 128, 0.16);

  --field-bg: rgba(110, 116, 128, 0.08);
  --field-danger-bg: rgba(217, 65, 65, 0.1);
  --field-border: rgba(0, 0, 0, 0.12);
  --field-placeholder: #909499;
}