<div class="aside__header">
  <div class="aside__search">
    <div class="search-field">
      <svg class="search-field__icon" width="20" height="20"><use xlink:href="#icon-search"></use></svg>
      <input type="text" name="search" placeholder="Поиск">
    </div>
  </div>
</div>

<div class="aside__content has-scrollbar">
  <div class="aside-nav">
    <a href="2.1_БДД_Основной_экран_аудита_дороги_карта.html" class="aside-item">
      <span class="aside-item__content">
        <span class="aside-item__title">М-3 «Украина»</span>
        <span class="aside-item__text">
          <span class="color-accent-success">+10</span> за период
        </span>
      </span>
      <span class="aside-item__graph">
        <span class="radial-graph">
          <svg class="radial-graph__graph color-accent-success" fill="none" stroke-linecap="round" stroke-width="6" data-angle="299"><path /></svg>
          <span class="radial-graph__text">83</span>
        </span>
      </span>
      <svg class="aside-item__arrow icon" width="24" height="24"><use xlink:href="#icon-chevron-right"></use></svg>
    </a>

    <a href="2.1_БДД_Основной_экран_аудита_дороги_карта.html" class="aside-item">
      <span class="aside-item__content">
        <span class="aside-item__title">М-5 «Урал»</span>
        <span class="aside-item__text">
          <span class="color-accent-warning">-10</span> за период
        </span>
      </span>
      <span class="aside-item__graph">
        <span class="radial-graph">
          <svg class="radial-graph__graph color-accent-warning" fill="none" stroke-linecap="round" stroke-width="6" data-angle="227"><path /></svg>
          <span class="radial-graph__text">63</span>
        </span>
      </span>
      <svg class="aside-item__arrow icon" width="24" height="24"><use xlink:href="#icon-chevron-right"></use></svg>
    </a>

    <a href="2.1_БДД_Основной_экран_аудита_дороги_карта.html" class="aside-item">
      <span class="aside-item__content">
        <span class="aside-item__title">М-7 «Волга»</span>
        <span class="aside-item__text">
          <span class="color-accent-danger">+10</span> за период
        </span>
      </span>
      <span class="aside-item__graph">
        <span class="radial-graph">
          <svg class="radial-graph__graph color-accent-danger" fill="none" stroke-linecap="round" stroke-width="6" data-angle="119"><path /></svg>
          <span class="radial-graph__text">33</span>
        </span>
      </span>
      <svg class="aside-item__arrow icon" width="24" height="24"><use xlink:href="#icon-chevron-right"></use></svg>
    </a>
  </div>
</div>