<div class="aside__content">
  <div class="aside__search">
    <div class="search-field">
      <svg class="search-field__icon" width="20" height="20"><use xlink:href="#icon-search"></use></svg>
      <input type="text" placeholder="Поиск">
    </div>
  </div>

  <div class="aside-nav">
    <a href="#" class="aside-item">
      <span class="aside-item__content">
        <span class="aside-item__title">М-3 «Украина»</span>
        <span class="aside-item__text">+10 за период</span>
      </span>
      <span class="aside-item__graph">
        <span class="radial-graph">
          <svg class="radial-graph__graph" data-vale="83">
              <path class="svg-arc" fill="none" stroke="red" stroke-linecap="round" stroke-width="6" data-angle="270" />
          </svg>
          <span class="radial-graph__text">83</span>
        </span>
      </span>
      <svg class="aside-item__arrow icon" width="24" height="24"><use xlink:href="#icon-chevron-right"></use></svg>
    </a>
  </div>
</div>