@@include('./modals/_more-modal.html', {
	open: '@@modalMoreOpen'
})

@@include('./modals/_delete-underlayer-modal.html', {
	open: '@@modalDeleteOpen'
})

@@include('./modals/_new-underlayer-modal.html', {
	open: '@@modalNewUnderlayerOpen'
})

@@include('./modals/_new-layer-modal.html', {
	open: '@@modalNewLayerOpen'
})

@@include('./modals/_source-manager-modal.html', {
	open: '@@modalSourceManagerOpen'
})

<script src="assets/lib/air-datepicker.3.3.5/air-datepicker.js"></script>
<script src="js/scripts.js?4"></script>