<div class="header">
  <div class="header__row">
    <div class="flex align-items-center gx-16">
      <div class="header__logo-wrapper flex align-items-center gx-16 pr-16">
        <a href="/" class="header__logo">
          <img src="assets/images/logo.png" alt="">
        </a>
        
        <button type="button" class="btn btn_smx btn_secondary">
          <svg class="icon" width="24" height="24"><use xlink:href="#icon-list"></use></svg>
          <span>Все модули</span>
        </button>
      </div>

      <div class="header__title">Безопасность дорожного движения</div>
    </div>

    <div class="flex align-items-center gx-16">
      <button type="button" class="btn btn_smx color-secondary">
        <svg class="icon" width="24" height="24"><use xlink:href="#icon-sync-done"></use></svg>
        <span>Данные сохранены</span>
      </button>

      <button type="button" class="btn btn_smx">
        <svg class="icon" width="24" height="24"><use xlink:href="#icon-notification"></use></svg>
      </button>

      <button type="button" class="btn btn_smx">
        <svg class="icon" width="24" height="24"><use xlink:href="#icon-user-avatar"></use></svg>
        <svg class="icon" width="16" height="16"><use xlink:href="#icon-drop-down"></use></svg>
      </button>
    </div>
  </div>

  <div class="header__row">
    <div class="flex align-items-center gx-8">
      <button type="button" class="btn btn_smx btn_secondary">
        <span>Показать данные за период</span>
        <svg class="icon" width="16" height="16"><use xlink:href="#icon-drop-down"></use></svg>
      </button>

      <label class="switcher">
        <span class="switch">
          <input type="checkbox" checked>
          <span class="switch__content"></span>
        </span>
        <span class="switcher__text">Показать подсказки</span>
      </label>
    </div>

    <div class="flex align-items-center gx-8">
      <div class="buttons">
        <button type="button" class="btn is-active">Карта</button>
        <button type="button" class="btn">Таблица</button>
        <button type="button" class="btn">Мероприятия</button>
      </div>

      <a href="#" class="btn btn_smx btn_secondary">
        <svg class="icon" width="24" height="24"><use xlink:href="#icon-download"></use></svg>
        <span>Создать отчёт</span>
      </a>
    </div>
  </div>
</div>