<div class="map-objects-tooltip">
	<div class="map-objects-tooltip__header">Доступные объекты</div>
	<div class="map-objects-tooltip__content has-scrollbar">
	  <div class="map-objects-tooltip__item">
			<a href="#">М-3 «Украина»</a>
		</div>
		<div class="map-objects-tooltip__item">
			<a href="#">М-5 «Урал»</a>
		</div>
		<div class="map-objects-tooltip__item">
			<a href="#">М-7 «Волга»</a>
		</div>
		<div class="map-objects-tooltip__item">
			<a href="#">М-7 «Волга»</a>
		</div>
		<div class="map-objects-tooltip__item">
			<a href="#">М-7 «Волга»</a>
		</div>
		<div class="map-objects-tooltip__item">
			<a href="#">М-7 «Волга»</a>
		</div>
		<div class="map-objects-tooltip__item">
			<a href="#">М-7 «Волга»</a>
		</div>
		<div class="map-objects-tooltip__item">
			<a href="#">М-7 «Волга»</a>
		</div>
		<div class="map-objects-tooltip__item">
			<a href="#">М-7 «Волга»</a>
		</div>
		<div class="map-objects-tooltip__item">
			<a href="#">М-7 «Волга»</a>
		</div>
	</div>
</div>