<div class="pagination">
  <div class="pagination__list">
    <a href="#" class="pagination__btn">
      <svg><use xlink:href="assets/images/svg.svg#icon-double-chevron-left"></use></svg>
    </a>
    <a href="#" class="pagination__btn">
      <svg><use xlink:href="assets/images/svg.svg#icon-chevron-left"></use></svg>
    </a>
    <a href="#" class="pagination__btn">7</a>
    <a href="#" class="pagination__btn is-active">8</a>
    <a href="#" class="pagination__btn">9</a>
    <a href="#" class="pagination__btn">10</a>
    <a href="#" class="pagination__btn">
      <svg><use xlink:href="assets/images/svg.svg#icon-chevron-right"></use></svg>
    </a>
    <a href="#" class="pagination__btn">
      <svg><use xlink:href="assets/images/svg.svg#icon-double-chevron-right"></use></svg>
    </a>
  </div>

  <div class="pagination__go">
    <div class="pagination__go-title">Перейти к странице</div>
    <input type="text" class="pagination__go-field" value="8">
  </div>
</div>