<div class="select-block is-empty" data-multiple="true" data-placeholder="Выберите необходимые мероприятия">
  <div class="select-block__target">
    <div class="select-block__content"></div>
    <div class="select-block__arrow">
      <svg class="icon" width="20" height="20"><use xlink:href="assets/images/svg.svg#icon-chevron-down"></use></svg>
    </div>
  </div>
  <div class="select-block__droplist droplist">
  	<div class="select-block__droplist-header mb-8">
  		<div class="search-field">
        <svg class="search-field__icon" width="20" height="20"><use xlink:href="assets/images/svg.svg#icon-search"></use></svg>
        <input type="text" name="search" placeholder="Поиск">
      </div>
  	</div>
  	<div class="select-block__droplist-content has-scrollbar">
	    <div class="mb-12">
	    	<div class="text-reg-12 color-secondary">Мероприятия по разделению транспортных потоков</div>
	    	<div class="select-block__item is-active">Установка МБО по оси проезжей части</div>
	    	<div class="select-block__item is-active">Установка ограждения парапетного типа (Нью-джерси) по оси проезжей части</div>
	    	<div class="select-block__item">Установка МБО без компенсаторов по оси проезжей части</div>
	    	<div class="select-block__item">Установка осевого тросового ограждения </div>
	    </div>

	    <div class="mb-12">
	    	<div class="text-reg-12 color-secondary">Мероприятия по предотвращению съездов с дороги</div>
	    	<div class="select-block__item">Установка МБО на краю проезжей части</div>
	    	<div class="select-block__item">Установка ограждения парапетного типа (Нью-джерси) на краю проезжей части</div>
	    	<div class="select-block__item">Установка тросового ограждения на краю проезжей части</div>
	    </div>

	    <div class="mb-12">
	    	<div class="text-reg-12 color-secondary">Мероприятия по повышению БДД на перекрестках</div>
	    	<div class="select-block__item">Установка светофорного объекта</div>
	    	<div class="select-block__item">Дублирование сигналов светофора светодиодной лентой</div>
	    </div>

	    <div class="mb-12">
	    	<div class="text-reg-12 color-secondary">Мероприятия по повышению БДД в темное время суток</div>
	    	<div class="select-block__item">Установка противоослепляющих экранов</div>
	    	<div class="select-block__item">Строительство освещения</div>
	    </div>

	    <div class="mb-12">
	    	<div class="text-reg-12 color-secondary">Мероприятия по повышению БДД при помощи знаков и разметки</div>
	    	<div class="select-block__item">Устройство поперечных шумовых полос</div>
	    	<div class="select-block__item">Нанесение разметки 1.1</div>
	    	<div class="select-block__item">Нанесение разметки 1.11</div>
	    	<div class="select-block__item">Нанесение разметки 1.13</div>
	    	<div class="select-block__item">Нанесение разметки 1.14</div>
	    	<div class="select-block__item">Нанесение разметки 1.14.1</div>
	    	<div class="select-block__item">Установка дорожных знаков 3.24</div>
	    	<div class="select-block__item">Установка дорожных знаков 3.20 </div>
	    	<div class="select-block__item">Дублирование дорожных знаков 3.20 </div>
	    	<div class="select-block__item">Установка дорожных знаков 3.27</div>
	    </div>

	    <div class="mb-12">
	    	<div class="text-reg-12 color-secondary">Мероприятия по повышению безопасности пешеходов</div>
	    	<div class="select-block__item">Строительство надземного пешеходного перехода </div>
	    	<div class="select-block__item">Установка пешеходного ограждения</div>
	    	<div class="select-block__item">Установка пешеходного ограждения по оси проезжей части</div>
	    	<div class="select-block__item">Установка пешеходного светофора</div>
	    	<div class="select-block__item">Установка пешеходного пешеходного светофора типа т.7</div>
	    	<div class="select-block__item">Дублирование сигналов пешеходного светофора светодиодной лентой</div>
	    </div>
    </div>
  </div>
</div>