<div class="form-group">
  <div class="form-label">Ссылка на источник (URL)</div>
  <input type="text" placeholder="Вставьте название" class="error">
  <div class="form-error">Неверный формат</div>
</div>

<div class="form-group">
  <div class="form-label">Начало</div>
  <select>
    <option>20.05.2022</option>
  </select>
</div>

<div class="form-group">
  <div class="form-label">Ссылка на источник (URL)</div>
  <div class="datepicker-field">
    <svg class="datepicker-field__icon"><use xlink:href="#icon-date-calendar"></use></svg>
    <svg class="datepicker-field__chevron"><use xlink:href="#icon-chevron-down"></use></svg>
    <input type="text" value="20.05.2022">
  </div>
</div>

<div class="form-check">
  <label>
    <input type="checkbox" name="radio">
    <span>Высокое (для печати)</span>
  </label>
</div>

<div class="form-check">
  <label>
    <input type="checkbox" name="radio" checked>
    <span>Обычное</span>
  </label>
</div>