<div class="modal js-new-layer-modal @@if(open === 'true'){is-open is-visible}">
	<div class="modal__bg"></div>
	<div class="modal__inner">
		<div class="modal__window modal__window_w480">
			<div class="modal__window-header">
				<div class="modal__title">Новый слой по ссылке</div>
				<button type="button" class="modal__close js-modal-close btn">
					<svg class="icon" width="24" height="24"><use xlink:href="assets/images/svg.svg#icon-close-delete"></use></svg>
				</button>
			</div>
			<div class="modal__window-inner has-scrollbar">
				<div class="mb-8 color-subhead">Название</div>
        <div class="mb-16">
        	<input type="text" placeholder="Вставьте название">
        </div>

				<div class="mb-8 color-subhead">Ссылка на источник (URL)</div>
        <div class="mb-16">
        	<textarea class="has-scrollbar" placeholder="Вставьте ссылку" rows="3"></textarea>
        </div>

				<div class="flex gx-8">
          <div>
            <button type="button" class="btn btn_primary js-modal-close">Добавить</button>
          </div>

          <div>
            <button type="button" class="btn js-modal-close">Выйти</button>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>