<div class="map-layers-control">
  <button type="button" class="map-layers-control__btn btn btn_smx btn_white">
    <svg class="icon" width="24" height="24"><use xlink:href="#icon-folder-layer"></use></svg>
    <span>Дополнительные слои</span>
    <svg class="icon" width="16" height="16"><use xlink:href="#icon-drop-down"></use></svg>
  </button>

  <div class="map-layers-control__dropdown">
    <div class="droplist has-scrollbar">
      <div class="text-reg-12 mb-4 mt-8">Дорожные условия</div>

      <div class="form-check">
        <label>
          <input type="checkbox" checked>
          <span>Ровность покрытий</span>
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="checkbox">
          <span>Сцепление с покрытием</span>
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="checkbox">
          <span>Повреждения</span>
        </label>
      </div>

      <div class="text-reg-12 mb-4 mt-8">ДТП</div>

      <div class="form-check">
        <label>
          <input type="checkbox" checked disabled>
          <span>ДТП</span>
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="checkbox">
          <span>Опасность участков дорог</span>
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="checkbox">
          <span>Риска ДТП и гибели людей</span>
        </label>
      </div>

      <div class="text-reg-12 mb-4 mt-8">ОДД</div>

      <div class="form-check">
        <label>
          <input type="checkbox">
          <span>Дорожные условия</span>
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="checkbox">
          <span>Эксплуатационная скорость</span>
        </label>
      </div>
      <div class="form-check">
        <label>
          <input type="checkbox">
          <span>Дорожные условия</span>
        </label>
      </div>
    </div>
  </div>
</div>