<div class="map-objects-tooltip droplist has-scrollbar">
	<div class="text-reg-12 color-subhead mb-4">Доступные объекты</div>
  
  <div>
		<a href="#" class="map-object-btn">М-3 «Украина»</a>
	</div>
	<div>
		<a href="#" class="map-object-btn">М-5 «Урал»</a>
	</div>
	<div>
		<a href="#" class="map-object-btn">М-7 «Волга»</a>
	</div>
	<div>
		<a href="#" class="map-object-btn">М-7 «Волга»</a>
	</div>
	<div>
		<a href="#" class="map-object-btn">М-7 «Волга»</a>
	</div>
	<div>
		<a href="#" class="map-object-btn">М-7 «Волга»</a>
	</div>
	<div>
		<a href="#" class="map-object-btn">М-7 «Волга»</a>
	</div>
	<div>
		<a href="#" class="map-object-btn">М-7 «Волга»</a>
	</div>
	<div>
		<a href="#" class="map-object-btn">М-7 «Волга»</a>
	</div>
	<div>
		<a href="#" class="map-object-btn">М-7 «Волга»</a>
	</div>
</div>