@@if(context.tooltip !== "hide"){
	<div 
		class="map-tooltip" 
		@@if(context.pin){
			@@if(context.pin.type === 'pin'){style="margin-bottom: 54px;"}
			@@if(context.pin.type === 'circle'){style="margin-bottom: 40px;"}
			@@if(context.pin.type === 'dott'){style="margin-bottom: 22px;"}
		}
	>
		<div class="map-tooltip__header">
			<div class="map-tooltip__header-icon">
				<svg class="icon"><use xlink:href="assets/images/svg.svg@@icon"></use></svg>
			</div>
			<div class="map-tooltip__header-content">
				<div class="map-tooltip__header-title">@@title</div>
				<div class="map-tooltip__header-text color-accent-@@class">@@subtitle</div>
			</div>
		</div>
		<div class="map-tooltip__content has-scrollbar">
			@@for (var i = 0; i < list.length; i++) {
			  <div class="map-tooltip__item">
					<div class="map-tooltip__item-title">` + list[i][0] + `</div>
					<div class="map-tooltip__item-text">` + list[i][1] + `</div>
				</div>
			}
		</div>
		<div class="map-tooltip__footer">
			<button type="button" class="btn btn_secondary btn_block" onclick="showModal('.js-more-modal')">@@btn</button>
		</div>
	</div>
}

@@if(context.pin){
	@@if(context.pin.type === "circle"){
		<div class="map-pin-circle @@if(context.pin.size === 'lg'){map-pin-circle_lg}">
			<svg width="34" height="34" fill="none">
				<circle cx="17" cy="17" r="13" stroke="currentColor" stroke-width="8"/>
			</svg>
		</div>
	}

	@@if(context.pin.type === "pin"){
		<div class="map-pin-icon @@if(context.pinColor){color-accent-@@pinColor}">
			<div class="map-pin-icon__icon">
				<svg width="24" height="24"><use xlink:href="assets/images/svg.svg#@@pinIcon"></use></svg>
			</div>
			<div class="map-pin-icon__pin">
				<svg width="34" height="46" fill="none">
					<path d="M2 16.5c0-8.284 6.716-15 15-15 8.284 0 15 6.716 15 15 0 8.284-7.5 18-15 27-7.5-9-15-18.716-15-27Z" fill="currentColor"/>
    			<path d="m16.424 43.98.576.692.576-.692c3.751-4.5 7.532-9.216 10.376-13.856 2.835-4.628 4.798-9.273 4.798-13.624C32.75 7.802 25.698.75 17 .75S1.25 7.802 1.25 16.5c0 4.351 1.962 8.996 4.798 13.623 2.844 4.64 6.625 9.356 10.376 13.857Z" stroke="#fff" stroke-opacity=".4" stroke-width="1.5"/>
				</svg>
			</div>
		</div>
	}

	@@if(context.pin.type === "dott"){
		<div class="map-pin-dott @@if(context.pinColor){color-accent-@@pinColor}">
			<svg width="24" height="24"><use xlink:href="assets/images/svg.svg#@@pinIcon"></use></svg>
		</div>
	}
}