<div class="map-control">
  <div class="map-control__group">
    <div class="map-control__item">
      <button type="button" class="map-control__btn">
        <svg><use xlink:href="#icon-folder-layer"></use></svg>
      </button>
    </div>
    <div class="map-control__item">
      <button type="button" class="map-control__btn">
        <svg><use xlink:href="#icon-image"></use></svg>
      </button>
    </div>
    <div class="map-control__item">
      <button type="button" class="map-control__btn">
        <svg><use xlink:href="#icon-2d"></use></svg>
      </button>
    </div>
    <div class="map-control__item">
      <button type="button" class="map-control__btn">
        <svg><use xlink:href="#icon-compass-north"></use></svg>
      </button>
    </div>
    <div class="map-control__item">
      <button type="button" class="map-control__btn">
        <svg><use xlink:href="#icon-geometry-instruments"></use></svg>
      </button>
    </div>
  </div>

  <div class="map-control__group">
    <div class="map-control__item">
      <button type="button" class="map-control__btn">
        <svg><use xlink:href="#icon-info"></use></svg>
      </button>
    </div>
  </div>
</div>